<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <title>{% block title %} {{ title|striptags }} {% endblock title %} | scpr.org</title>
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" id="meta-viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

        {% block meta %}
        <meta name="description" content="{{ project_description }}" />
        <meta name="keywords" content="{{ project_keywords }}" />
        {% endblock meta %}

        {% block opengraph %}
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://www.scpr.org/assets/logo-masthead.png" />
        <meta property="og:title" content="{{ title|striptags }}" />
        <meta property="og:url" content="{{ promoted_url }}" />
        <meta property="og:description" content="{{ project_description }}" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ promoted_url }}">
        <meta name="twitter:domain" content="http://projects.scpr.org/">
        <meta name="twitter:site" content="KPCC">
        <meta name="twitter:creator:id" content="">
        <meta name="twitter:title" content="{{ title|striptags }}">
        <meta name="twitter:description" content="{{ project_description }}">
        <meta name="twitter:image:src" content="http://www.scpr.org/assets/logo-masthead.png">
        {% endblock opengraph %}

        <!-- begin css -->
        <link href="http://projects.scpr.org/static/static-files/css/reset/reset-styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/interactive-project-shell/foundation-styles-v2.css" rel="stylesheet" type="text/css" media="all" />

        {% block css %}
        {% endblock css %}

        <link href="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="all" />
        <!-- end css -->

        {% block shim %}
            <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock %}

        <!-- begin base scripts -->
        <script src="http://use.typekit.com/mhc7oxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script async="" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/scripts/modernizr-2.5.3.min.js"></script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">
        <div id="kpcc-header">
            <header>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span8">
                            <h3 id="site-title" ><a href="http://www.scpr.org/">KPCC 89.3</a></h3>
                        </div>
                        <div class="span4">
                            <ul class="header-links clearfix pull-right">
                                <li>
                                    <a href="https://scprcontribute.publicradio.org/" class="pledge-now icon">Contribute to KPCC</a>
                                    <a href="https://scprcontribute.publicradio.org/" target="_blank"><b>Pledge now</b></a>
                                </li>
                                <li>
                                    <div class="share-links clearfix">
                                        <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                                        <a class="facebook icon" href="{{ promoted_url }}" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"></a>
                                        <a class="twitter icon" href="http://twitter.com/share?text={{ project_description }}&url={{ promoted_url }}"></a>
                                    </div>
                                    <b>Share this page</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="data-container" class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-details">
                        {% block data_details_content %}
                        {% endblock data_details_content %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-visuals">
                        {% block data_visuals_content %}
                        {% endblock data_visuals_content %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-footer">
                        {% block data_footer_content %}
                        {% endblock data_footer_content %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-comments">
                        {% block data_comments %}
                        {% endblock data_comments %}
                    </div>
                </div>
            </div>
        </div>
        <div id="kpcc-footer">
            <footer>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <ul>
                                <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                                <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                                <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
                                <li>Copyright 2013 &copy; Southern California Public Radio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- begin scripts -->
            {% block kpcc_scripts %}
            {% endblock kpcc_scripts %}
        <!-- end scripts -->

        <!-- begin analytics -->
            {% block kpcc_analytics %}
            {% endblock kpcc_analytics %}
        <!-- end analytics -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->