{# The default project templates assumes a _base.html template to be extended. #}
{% extends '_base.html' %}

{% block meta %}
{{ super() }}
    <!--
    <meta name="robots" content="" />
    <meta name="author" content="#, &#169; 2013">
    <meta name="google-site-verification" content="#" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="http://media.scpr.org/assets/images/icon.png">
    -->
{% endblock %}

{% block css %}
{{ super() }}
    <link href="{{ static_url('proposition-8-sentiment', '/css/project-styles.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block data_details_content %}
    <div id="content-article">
        <h4 class="kicker">{{ project_kicker|safe }}</h4>
        <h1>{{ project_headline }}</h1>

        <div id="content-article-metadata">
            <p>
            {% if project_credits %}
                <span class="credits">{{ project_credits|safe }}</span> |
            {% else %}
            {% endif %}
            <span class="pubdate">{{ project_pubdate }}</span>
            </p>
        </div>

        {% if project_article_text %}
            <div id="content-article-text">
                {{ project_article_text|safe }}
            </div>
        {% else %}
        {% endif %}

        {% if project_readmore_link %}
            <div id="content-article-buttons">
                <a class="btn btn-info" href="{{ project_readmore_link }}">Read More</a>
            </div>
        {% else %}
        {% endif %}

        {% if project_data_instructions %}
            <div id="content-explainer">
                <p><span class="data-instructions">{{ project_data_instructions|safe }}</span></p>
            </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

{% block data_visuals_content %}
    <div id="canvas">
        <div id="topaxislabel" class="axislabel">It was the right decision</div>
        <div id="bottomaxislabel" class="axislabel">It was the wrong decision</div>
        <div id="leftaxislabel" class="axislabel">
            <div id="leftinnerdiv">I'm comfortable with it</div>
        </div>
        <div id="rightaxislabel" class="axislabel">
            <div id="rightinnerdiv">I'm not comfortable with it</div>
        </div>
        <div id="tooltip" style="display:none">
            <div id="clickinstructions">Click point to add yourself</div>
        </div>
        <div id="chart-container"></div>
    </div>

    <iframe name = "hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
    <div id="theform" style="display:none">
        <form action="https://docs.google.com/forms/d/1kmDd2nGeFt0AClKdVv7hOeHKffmS4p6rYQlf72u-DUk/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validate_form();">

        <input type="hidden" name="entry.1803534593" id="form-cell" class="forminput" />

        <div class="row">
            <label>First name</label>
            <input type="text" name="entry.222031905" id="form-name" class="forminput" /> <br />
        </div>
        <div class="row">
            <label>Your gender</label>
            <input type="text" name="entry.1775217035" id="form-gender" class="forminput" /> <br />
        </div>
            <div class="row">
            <label>Zip code *</label>
            <input type="text" name="entry.579317853" id="form-location" class="forminput" /> <br />
        </div>
        <div class="row">
            <label>Email *</label>
            <input type="text" name="entry.860029074" id="form-contact" class="forminput" /> <br />
        </div>
        <div class="formrow">
            <label>Remarks</label>
        <div id="charcounter">160 chars</div>
        </div>

        <textarea class="forminput" name="entry.233017298" id="form-comment" maxlength="160"></textarea>

        <div id="formexplain">
            * Your name and remarks (max 160 characters, please) will be visible, subject to moderation. Your email address and zip code won't be displayed.
        </div>

        <input type="hidden" name="pageNumber" value="0">
        <input type="hidden" name="backupCache" value>

        <div id="cancelbutton">
            <a href="javascript:void(0);" id="cancellink">Cancel</a>
        </div>

        <input type="submit" name="submit" value="Submit" alt="Submit" id="formsubmit">

        </form>
    </div>

<script type="text/x-handlebars-template" id="hover-template"></script>

<script type="text/x-handlebars-template" id="click-template">
    <div class="commentpop">
        <div class="commentname">{{name}}</div>
        <div class="commentbody">{{body}}</div>
        <div class="commentfooter">
            <div class="commentcounter">
                {{num}} of {{count}}
                <a id="nextbutton" href="javascript:void(0);">next</a>
            </div>
        </div>
        <div id="addfooter">
            <div id="addbutton"></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="tooltip-template">
    <div id="clickinstructions">Click point to add yourself</div>
    <div class="commentpop">
        <div class="commentname">{{name}}</div>
        <div class="commentbody">{{body}}</div>
        <div class="commentfooter">
            <div class="commentcounter">
                {{num}} of {{count}}
            </div>
        </div>
    </div>
</script>


{% endblock %}

{% block data_footer_content %}
    {% if project_embed == 'True' %}
        <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
        </div>
    {% else %}
    {% endif %}

    {% if project_sources %}
        <div id="sources">
            <p class="normal-display"><strong>Source(s): </strong>{{ project_sources|safe }}</p>
        </div>
    {% else %}
    {% endif %}

    {% if project_open_source %}
        <div id="open-source">
            <p class="small-display">{{ project_open_source|safe }}</p>
        </div>
    {% else %}
    {% endif %}

{% endblock %}

{% block data_comments %}
    {% if project_comments == 'True' %}
        <div class="row-fluid">
            <div class="span12">
            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'kpcc-projects';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}

{% block kpcc_scripts %}
{{ super() }}
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.url.min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/handlebars-1.0.rc.1.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/handlebars-ajax.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/swag.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/miso.ds.deps.ie.min.0.4.0.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.alerts.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/underscore-min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/highcharts.js"></script>
    <script src="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap.min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.cookie.js"></script>
    <script src="{{ static_url('proposition-8-sentiment', '/js/data-script.js') }}"></script>
{% endblock %}

{% block kpcc_analytics %}
    {% if project_analytics == 'True' %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-624724-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script type="text/javascript">
            var _sf_async_config={uid:2825,domain:"projects.scpr.org"};
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src',
                        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
    {% else %}

    {% endif %}
{% endblock %}