{{ "{# The default project templates assumes a _base.html template to be extended. #}" }}
{{ "{% extends '_base.html' %}" }}

{{ "{% block meta %}" }}
{{ "{{ super() }}" }}
{{ "{% endblock %}" }}

{{ "{% block css %}" }}
{{ "{{ super() }}" }}
    <!-- additional css files for projects -->
    <!--
    <link href="http://projects.scpr.org/static/static-files/css/tabletop-timelines/v3-styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/highcharts-interactives/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/responsive-tables/responsive-tables.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/tablestacker-tables/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/tabletop-timelines/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
    -->
    <link href="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/css/project-styles.css') }}" }}" rel="stylesheet" type="text/css" media="all" />
{{ "{% endblock %}" }}

{{ "{% block data_details_content %}" }}
    <div id="content-article">
        <h4 class="kicker">{{ "{{ project_kicker|safe }}" }}</h4>
        <h1>{{ "{{ project_headline }}" }}</h1>

        <div id="content-article-metadata">
            <p>
            {{ "{% if project_credits %}" }}
                <span class="credits">{{ "{{ project_credits|safe }}" }}</span> |
            {{ "{% else %}" }}
            {{ "{% endif %}" }}
            <span class="pubdate">{{ "{{ project_pubdate }}" }}</span>
            </p>
        </div>

        {{ "{% if project_article_text %}" }}
            <div id="content-article-text">
                {{ "{{ project_article_text|safe }}" }}
            </div>
        {{ "{% else %}" }}
        {{ "{% endif %}" }}

        {{ "{% if project_readmore_link %}" }}
            <div id="content-article-buttons">
                <a class="btn btn-info" href="{{ "{{ project_readmore_link }}" }}">Read More</a>
            </div>
        {{ "{% else %}" }}
        {{ "{% endif %}" }}

        {{ "{% if project_data_instructions %}" }}
            <div id="content-explainer">
                <p><span class="data-instructions">{{ "{{ project_data_instructions|safe }}" }}</span></p>
            </div>
        {{ "{% else %}" }}
        {{ "{% endif %}" }}
    </div>
{{ "{% endblock %}" }}

{{ "{% block data_visuals_content %}" }}
    <h2>Content Here</h2>
{{ "{% endblock %}" }}

{{ "{% block data_footer_content %}" }}
    {{ "{% if project_embed == 'True' %}" }}
        <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
        </div>
    {{ "{% else %}" }}
    {{ "{% endif %}" }}

    {{ "{% if project_sources %}" }}
        <div id="sources">
            <p class="normal-display"><strong>Source(s): </strong>{{ "{{ project_sources|safe }}" }}</p>
        </div>
    {{ "{% else %}" }}
    {{ "{% endif %}" }}

    {{ "{% if project_open_source %}" }}
        <div id="open-source">
            <p class="small-display">{{ "{{ project_open_source|safe }}" }}</p>
        </div>
    {{ "{% else %}" }}
    {{ "{% endif %}" }}

{{ "{% endblock %}" }}

{{ "{% block data_comments %}" }}
    {{ "{% if project_comments == 'True' %}" }}
        <div class="row-fluid">
            <div class="span12">
            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'kpcc-projects';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
    {{ "{% else %}" }}
    {{ "{% endif %}" }}
{{ "{% endblock %}" }}

{{ "{% block kpcc_scripts %}" }}
{{ "{{ super() }}" }}
    <!--
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8&sensor=false&amp;libraries=places"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/underscore-min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/backbone-min-v1.0.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/handlebars-1.0.rc.1.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/handlebars-ajax.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/swag.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/responsive-tables.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.address.min-1.4.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.geocomplete.min-1.4.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.alerts.js"></script>
    <script src="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap.min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/tabletop.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/highcharts.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/moment.min.js"></script>
    -->

    <!-- For TableStacker -->
    <!--
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.tablesorter.pager.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.tablesorter.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.tablesorter.multipagefilter.js"></script>
    -->

    <!-- For DataTables -->
    <!--
    <script src="http://projects.scpr.org/static/static-files/scripts/jquery.dataTables.min.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/data-tables-bootstrap.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/bootstrap-dropdown.js"></script>
    -->

    <!-- For Vertical Timelines -->
    <!--
    <script src="http://projects.scpr.org/static/static-files/scripts/timeline-plugins.js"></script>
    <script src="http://projects.scpr.org/static/static-files/scripts/timeline-main-script.js"></script>
    -->

    <!-- Might No Longer Be Needed -->
    <!--
    <script src="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/js/maps-lib.js') }}" }}"></script>
    <script src="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/js/tabletop-script.js') }}" }}"></script>
    <script src="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/js/templates-script.js') }}" }}"></script>
    <script src="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/js/map-script.js') }}" }}"></script>
    -->
    <script>
        var dataSource = "{{ "{{ static_url('" }}{{ project_name }}{{ "', '/data/blank_data.json') }}" }}";
    </script>

    <script src="{{ "{{ static_url('" }}{{ project_name }}{{ "', '/js/data-script.js') }}" }}"></script>

{{ "{% endblock %}" }}

{{ "{% block kpcc_analytics %}" }}
    {{ "{% if project_analytics == 'True' %}" }}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-624724-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script type="text/javascript">
            var _sf_async_config={uid:2825,domain:"projects.scpr.org"};
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src',
                        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
    {{ "{% else %}" }}

    {{ "{% endif %}" }}
{{ "{% endblock %}" }}